@font-face{
  font-family: Parisienne;
  src: url(Parisienne-Regular.ttf);
}
@font-face{
  font-family: Museo-Sans;
  src: url(Museo-Sans.otf);
}

body,
html {
  font-family: Museo-Sans;
}

body {
  background-image: url("./background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.block{
  display: block;
}

.Main {
  margin: 2rem auto;
}

.size-fix{
  width: 60%;
}

.logo {
  text-align: center;
  margin: 1rem;
}

.logo img {
  width: 20vw;
  height: auto;
}

.nav-link {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: inherit;
}

.nav-link:hover {
  color: #fff;
}

.bg-blue {
  background-color: rgba(93, 167, 170, 0.8) !important;
  /*opacity: 0.8;*/
  border-radius: 25px;
}

.left {
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
}

.left img {
  margin-right: 10px;
}
.right img {
  margin-right: 10px;
}

.right {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
}

.back {
  background-color: #fff;
  padding: 1rem;
  opacity: 0.8;
  border-radius: 10px;
}

.back a {
  text-decoration: none;
  color: #5da7aa;
}

.us {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem;
  margin: 0.5em;
  background-color: #5da7aa;
}

.heading{
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: center;
}

.us h1 {
  font-weight: light;
  font-size: 2rem;
}

p {
  padding: 10px 4rem;
  text-align: justify;
  font-size: 1.5rem;
  color: white;
  font-family: inherit;
}

h1 {
  font-family: inherit;
  font-weight: normal;
  color: white;
  margin-top: 10px;
  font-size: 2rem;
}

.boxes {
  font-family: inherit;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  grid-gap: 10px;
  padding: 1rem;
}

.mission {
  font-family: inherit;
  grid-column: 1/2;
  background-color: rgba(93, 167, 170, 0.8);
  text-align: center;
  margin: 1rem;
  border-radius: 50px;
}

.vission {
  font-family: inherit;
  grid-column: 2/3;
  background-color: rgba(93, 167, 170, 0.8);
  /*opacity: 0.8;*/
  text-align: center;
  margin: 1rem;
  border-radius: 50px;
}

img {
  width: 50%;
  height: 50px;
}

.first {
  font-family: inherit;
  grid-column: 1/2;
  background-color: none;
  text-align: center;
}

.first img {
  width: 80%;
  height: auto;
  /* height: 80%; */
}

details{
  color: white;
  font-family: inherit;
  /* font-size: 15px; */
  background-color: rgba(93, 167, 170, 0.8);
  border-radius: 50px;
  padding: 1rem 4rem;
}

summary{
  list-style: none;

}

summary:hover{
  cursor: unset;
}

.masDetalles:hover{
  cursor: pointer;
}
.menosDetalles:hover{
  cursor: pointer;
}

details > summary::-webkit-details-marker {
  display: none;
}

.second {
  font-family: inherit;
  grid-column: 2/3;
  text-align: center;
  margin: 1rem;
}

.second p {
  padding: 1rem;
}

.title{
  font-family: Parisienne;
  color: white;
  font-size: 2.7em;
  text-align: center;
}

.h-auto{
  height: auto;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1080px;
  width: 40vw;
  height: auto;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(93, 167, 170, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.active, .dot:hover {
  background-color: #717171;
}

.myNavBar{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.mt05rem{
  margin: 0.5em 0 0 0;
}

.myRow{
  display: flex;
  flex-flow: row nowrap;
}

.myDropDown{
  position: relative;
}

.myDropMenu{
  margin-left: 1em;
}

.p_absolute{
  position: absolute;
}

.oculto{
  display: none !important;
}

.z-5{
  z-index: 5;
}

.clickeable:hover{
  cursor: pointer;
}

.thumbnail_shopping{
  position: absolute;
  background-color: white;
  font-family: Museo-Sans;
  /* color: white; */
  font-size: 16px;
  border-radius: 100%;
  height: 24px;
  width: 24px;
  bottom: -8px;
  left: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
}